<footer class="py-5">
  <p class="mb-5">Questions? Contact us.</p>
  <div class="row">
    <div class="col">
      <ul>
        <li>FAQ</li>
        <li>Investor Relations</li>
        <li>Privacy</li>
        <li>Speed Test</li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li>Help Center</li>
        <li>Jobs</li>
        <li>Cookie Preferences</li>
        <li>Legal Notices</li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li>Account</li>
        <li>Ways to Watch</li>
        <li>Corporate Information</li>
        <li>Only on Netflix</li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li>Media Center</li>
        <li>Terms of Use</li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>

  <div class="text-center mt-5">
    <p>Made With 🤍 by <span>Mohamed Gamal.</span></p>
    <div class="d-flex align-items-center gap-4 justify-content-center" >
      <a href="https://www.facebook.com/me.do.746" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>

      <a href="https://www.linkedin.com/in/mohamed-gamal-fe/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>

      <a href="https://www.instagram.com/_mohamedddgamal/" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>

      <a href="https://github.com/Mohamed-Gamal74" target="_blank">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</footer>
