footer {
  color: var(--light-grey-color);
  width: 70%;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  left: 0;
  border-top: 3px solid var(--border-color);
  margin-top: 30px;
}

li {
  margin-bottom: 20px;
}

span {
  color: var(--main-color);
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  ul {
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 10px;
  }
}
