<section class="borderBottom ">
  <div class="row container mx-auto py-5">
    <div class="col-md-6 align-self-center">
      <div>
        <h2>Enjoy on your TV.</h2>
        <p>
          Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
          players, and more.
        </p>
      </div>
    </div>
    <div class="col-md-6 imgContainer">
      <img src="../../assets/images/tv.png" alt="tv" />
      <video
        src="../../assets/videos/video1.m4v"
        class="video"
        autoplay
        loop
        muted
      ></video>
    </div>
  </div>
</section>

<section class="borderBottom ">
  <div class="row container mx-auto py-5">
    <div class="col-md-6 img">
      <img src="../../assets/images/download.jpg" alt="download" />
    </div>
    <div class="col-md-6 align-self-center">
      <div>
        <h2>Download your shows to watch offline.</h2>
        <p>Save your favorites easily and always have something to watch.</p>
      </div>
    </div>
  </div>
</section>


<section class="borderBottom ">
    <div class="row container mx-auto py-5">
      <div class="col-md-6 align-self-center">
        <div>
          <h2>Watch everywhere.
        </h2>
          <p>
            Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.

          </p>
        </div>
      </div>
      <div class="col-md-6 imgContainer">
        <img src="../../assets/images/computer.png" alt="tv" />
        <video
          src="../../assets/videos/video2.m4v"
          class="video2"
          autoplay
          loop
          muted
        ></video>
      </div>
    </div>
  </section>


  <section class="borderBottom ">
    <div class="row container justify-content-center mx-auto py-5">
      <div class="col-md-6 img">
        <img src="../../assets/images/create_profile.png" alt="profile" />
      </div>
      <div class="col-md-6 align-self-center">
        <div>
          <h2>Create profiles for kids.
        </h2>
          <p  >Send kids on adventures with their favorite characters in a space made just for them—free with your membership.
        </p>
        </div>
      </div>
    </div>
  </section>
