<nav
  class="d-flex align-items-center justify-content-between"
  [ngClass]="fixed ? 'fixed' : ' '"
>
  <a routerLink="/movie" class="logoContainer">
    <img src="../../assets/images/logo.png" class="w-100" alt="logo" />
  </a>

  <ul class="d-flex align-items-center gap-5 mt-2" *ngIf="logged">
    <li class="fs-5">
      <a routerLink="/movie" routerLinkActive="active">Movie</a>
    </li>

    <li class="fs-5">
      <a routerLink="/tv" routerLinkActive="active">TV Shows </a>
    </li>
  </ul>

  <div>
    <button (click)="signinHandler()" *ngIf="!logged" class="btn mainBtn">
      Sign in
    </button>

    <button
      *ngIf="logged"
      (click)="logoutHandler()"
      class="logoutBtn"
    >
      <i class="bi bi-box-arrow-right"></i>
      Logout
    </button>
  </div>
</nav>
